<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<p><a href="/service/request" class="button">Submit New Request</a></p>

<% if (locals.requests && requests.length > 0) { %>
  <table class="data-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Subject</th>
        <th>Type</th>
        <th>Vehicle</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% requests.forEach(request => { %>
        <tr>
          <td><%= new Date(request.request_created).toLocaleDateString() %></td>
          <td><%= request.request_subject %></td>
          <td><%= request.request_type %></td>
          <td>
            <% if (request.inv_make) { %>
              <%= request.inv_year %> <%= request.inv_make %> <%= request.inv_model %>
            <% } else { %>
              N/A
            <% } %>
          </td>
          <td>
            <span class="status-badge status-<%= request.request_status %>">
              <%= request.request_status %>
            </span>
          </td>
          <td>
            <a href="/service/detail/<%= request.request_id %>">View Details</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <p class="notice">You haven't submitted any service requests yet.</p>
  <p><a href="/service/request">Submit your first request</a></p>
<% } %>